<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Añadir Partido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>➕ Añadir Nuevo Partido</h1>
    <nav><a href="{{ url_for('indice_contenido') }}">Volver al inicio</a></nav>
</header>

<main>
    <form method="post">
        <label for="equipo1">Equipo Local:</label>
        <select name="equipo1" required>
            {% for equipo in equipos %}
                <option value="{{ equipo[0] }}">{{ equipo[1] }}</option>
            {% endfor %}
        </select>

        <label for="equipo2">Equipo Visitante:</label>
        <select name="equipo2" required>
            {% for equipo in equipos %}
                <option value="{{ equipo[0] }}">{{ equipo[1] }}</option>
            {% endfor %}
        </select>

        <label for="fecha">Fecha del partido:</label>
        <input type="datetime-local" name="fecha" required>

        <label for="golesEquipo1">Goles del local:</label>
        <input type="number" name="golesEquipo1" value="0">

        <label for="golesEquipo2">Goles del visitante:</label>
        <input type="number" name="golesEquipo2" value="0">

        <button type="submit">Guardar Partido</button>
    </form>
</main>

</body>
</html>